$radius-big: 4px;
$radius: 2px;

$grey: #494949;
$grey-light: #e0e0e0;

$white: #dce0df;
$dark: #231f20;
$blue: #2c3e50;
$blue-darker: #1d2936;

$purple: #483949;

$bg-main: $white;
$bg-even: $bg-main;
$bg-odd: $bg-main;

$text-color: #000;