/* ------------------- Import Compass  ------------------- */
@import "compass/css3";
/* ------------------ Import Variables  ------------------ */
@import "variables.scss";
/* ---------------- Import Fonts & Icons  ---------------- */
@import "fonts.scss";
/* --------------- Import Helpers Classes  --------------- */
@import "helpers.scss";

#main {
    margin: 0 5%;
    width: 90%;
}

#ubik {
    display: block;
    margin: 0 auto;
}

code {
    display: inline;
    color: #af3838;
    border: 1px solid #5a7ea3;
    background: #f0f0f0;
    padding: 0.1em 0.5em;
}

pre {
    margin: 0.5em 2em;
    code {
        border: none;
    }
}

p, li {
    line-height: 1.5em;
    .center & {
        text-align: center;
        line-height: 1em;
    }
}

h1 {
    margin-top: 2em;
    &:first-child {
        margin-bottom: 2em;
        text-align: center;
    }
}
// Some stuff

.quart {
    float: left;
    width: 25%;
    padding:1em;
    text-align: center;
}

// Form login
section.login {
    background: url("/assets/img/ubik.png") center center no-repeat;
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    .inner {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        text-align: center;
    }
}
.loginform {
    display: block;
    width: 33%;
    margin: 2em auto;
    span {
        margin: 2em;
        display: block;
    }
}
input,
textarea {
    @include box-sizing(border-box);
    @include border-radius($radius);
    width: 100%;
    border: 1px solid black;
    padding: 0.75rem;
    margin-bottom: 2.5rem;
    resize: none;
    @include placeholder {
        color: grey;
        opacity: 1;
    }
}

.button {
    color: white;
    background: $blue;
    border: none;
    border-bottom: 2px solid $blue-darker;
    @include inline-block;
    padding: 1rem 3rem;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    @include border-radius($radius-big);
    @include single-transition(all, 0.3s, ease-in, false);
    &:hover {
        background: $blue-darker;
        @include single-transition(all, 0.3s, ease-in, false);
    }
}


/* ------------------ Import Animations  ----------------- */
@import "animations.scss";
/* -------------------- Media Queries  ------------------- */
@import "media-queries.scss";
/* --------------------- Highlight.js  ------------------- */
@import "highlight.scss";
